<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPGroupWeather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E41C006922F1900A00EE9D39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41C007722F1901900EE9D39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B3155D22EC04080068B31E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
